/*
For this styling you should use
external CSS method

Try several properties mentioned in the previous
lesson 

https://www.w3schools.com/cssref/css_websafe_fonts.asp
https://www.w3schools.com/Css/css_font.asp

*/

/*General*/

.title{
    font-size: 45px;
    background-color: rgb(255, 127, 48);
    color: white;
    font-weight: bold;
    text-align: center;
    width: 500px;
    margin: auto;
}

.imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.description{
    font-size: 30px;
    color: black;
}

li,
h3,
p{
    font-size: 20px;
}
p{
    width: 1700px;
    margin-inline:auto;
    margin-bottom:10px;
}
li{
    width: 800px;
    margin: auto;
    margin-bottom:5px;
}

.ingredientes{
    text-align: center;
    font-weight: bolder;
    font-style: italic;
}

.prep{
    text-align: center;
    font-weight: bolder;
    font-style: italic;
}

.odd{
    background-color: #faddd2;

}
.even{
    background-color: #ffffff;
}
/*Index*/

.odin{
    margin-bottom:40px;
}

.index{
    font-size:35px;
    margin-block:15px;
}

.background{
    margin-top: 30px;
}

/*Chilpaztle*/

/*Popocha*/

.imagen.dos{
    width: 20%;
}

/*Mextlapique*/

.imagen.tres{
    width: 20%;
}